{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'script/main.js' %}"></script>   
</head>
<body>
    <header class="header">
        <nav class="nav">
            <p class="nav__title">IONIX S.A</p>
            <ul class="list">
                <li class="list__item"><a class="list__item__link" href="{%  url 'inicio'%}">INICIO</a></li>
                <li class="list__item"><a class="list__item__link" href="{%  url 'cuadernos'%}">CUADERNOS</a></li>
                <li class="list__item"><a class="list__item__link" href="{% url 'marcadores' %}">MARCADORES</a></li> 
                <li class="list__item"><a class="list__item__link" href="{%  url 'lapices_colores'%}">LAPICES DE COLORES</a></li>
                <li class="list__item"><a class="list__item__link" href="{%  url 'iniciar_sesion'%}">INICIAR SESIÓN</a></li>
            </ul>
            <img class="nav__shop" src="{% static 'images/shop.svg' %}" alt="">
        </nav>
    </header>   
    <main>
        <section class="container__detalle-proyecto">
            <div class="container__detalle-proyecto__information">
                <h1 class="container__detalle-proyecto__information__title">Detalles del proyecto</h1>
                <p class="container__detalle-proyecto__information__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde commodi ullam consectetur qui animi! Delectus dicta accusamus suscipit quibusdam iste distinctio blanditiis totam, maiores, modi, sint impedit ad perspiciatis!</p>
            </div>
            <div class="container__detalle-proyecto__img">
                <img src="{% static 'images/post/1.svg' %}" alt="">
            </div>
        </section>
        <section class="container__detalle-proyecto">
            <div class="container__detalle-proyecto__img">
                <img src="{% static 'images/post/2.svg' %}" alt="">
            </div>
            <div class="container__detalle-proyecto__information">
                <h2 class="container__detalle-proyecto__information__title">Misión</h2>
                <p class="container__detalle-proyecto__information__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde commodi ullam consectetur qui animi! Delectus dicta accusamus suscipit quibusdam iste distinctio blanditiis totam, maiores, modi, sint impedit ad perspiciatis!</p>
            </div>
        </section>
        <section class="container__detalle-proyecto">
            <div class="container__detalle-proyecto__information">
                <h2 class="container__detalle-proyecto__information__title">Contacto</h2>
                <p class="container__detalle-proyecto__information__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti unde commodi ullam consectetur qui animi! Delectus dicta accusamus suscipit quibusdam iste distinctio blanditiis totam, maiores, modi, sint impedit ad perspiciatis!</p>
            </div>
            <div class="container__detalle-proyecto__img">
                <img src="{% static 'images/post/3.svg' %}" alt="">
            </div>
        </section>
    </main>
</body>
</html>