{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
    <script src="{% static 'script/main.js' %}"></script>
</head>
<body>
    <header class="header">
        <p class="header__title">IONIX S.A</p>
    </header>
    <main class="main">
        <h1 class="main__title">Ingresa tus datos</h1>
        <section class="container-form">
            <form class="form" action="/registrar_usuario" method="POST">
                {% csrf_token %}
                <label class="form__label" for="nombres">Nombres</label>
                <input class="form__input" type="text" name="nombres" required>
                <label class="form__label" for="apellidos">Apellidos</label>
                <input class="form__input" type="text" name="apellidos" required>
                <label class="form__label" for="dni">Número de cédula</label>
                <input class="form__input" type="text" maxlength="10" name="dni" required>
                <label class="form__label" for="pais">País</label>
                <input class="form__input" type="text" name="pais" required>
                <label class="form__label" for="ciudad">Ciudad</label>
                <input class="form__input" type="text" name="ciudad" required>
                <label class="form__label" for="direccion">Dirección</label>
                <input class="form__input" type="text" name="direccion" required>
                <label class="form__label" for="email">Correo electrónico</label>
                <input class="form__input" type="email" name="email" required>
                <label class="form__label" for="password">Contraseña</label>
                <input class="form__input" type="password" name="password" required>
                <input class="form__input form__submit" type="submit" value="REGISTRARSE">
            </form>
        </section>
    </main>
</body>
</html>