{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cliente</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
    <script src="{% static 'script/main.js' %}"></script>
</head>
<body>
    <header class="header">
        <p class="header__title">IONIX S.A</p>
    </header>
    <main class="main">
        <section class="container-form">
            <h1 class="main__title">Ingresa tus datos</h1>
            <form class="form" action="metodo_pago" method="POST">
                {% csrf_token %}
                <div>
                    <h2 class="form__title">Información para Envío</h2>
                    <input class="form__input" type="email" name="email" placeholder="Ingrese su email" required>
                </div>
                <div>
                    <h2 class="form__title">Forma de Entrega</h2>
                    <label class="form__label" for="fisico"><input class="form__radio" type="radio" value="retiro_fisico" name="entrega" id="fisico" required checked>Retiro de Forma Física</label>
                    
                    <label class="form__label" for="servientrega"><input class="form__radio" type="radio" value="servientrega" name="entrega" id="servientrega" disabled>Servientrega</label>
                </div>
                <div>
                    <h2>Lugar de Retiro</h2>
                    <p>Mariano Acosta & Avenido los rosales 314</p>
                </div>
                
                <div class="container-button">   
                    <a class="container-button__back-carrito" href="">Volver al carrito</a>           
                    <input class="container-button__submit" type="submit" value="Continuar con el Pago">
                </div>
                
            </form>
        </section>
        <section class="container-carrito-productos">
            <table id="table" class="table-product">
                <thead class="thead-product"> 
                    <tr>
                        <th colspan="2">PRODUCTO</th>
                        <th>CANTIDAD</th>
                        <th>TOTAL</th>
                    </tr>
                </thead>
                <tbody class="tbody-product">
                    {% if request.session.carrito.items %}
                    {% for key, value in request.session.carrito.items %}
                    <tr class="row">
                        <td class="row-celda">
                            <div class="row-celda__images">
                                {% static '' as baseUrl %}
                                <img src="{{baseUrl}}{{value.images}}" alt=""> 
                            </div>
                        </td>
                        <td class="row-celda">
                            <p>{{ value.nombre }}</p>  
                            <p>Precio: {{ value.precio }}</p>
                        </td>
                        <td class="row-celda ">
                            <div class="row-celda--display">
                                <a href="{% url  'Add' value.producto_id %}"><i class="fa fa-solid fa-plus"></i></a>
                                <p class="row-celda__cantidad">{{ value.cantidad }}</p>
                                <a href="{% url  'Sub' value.producto_id %}"><i class="fa fa-solid fa-minus"></i></a>
                            </div>
                        </td>
                        <td class="row-celda">
                            <p>${{ value.acumulado }}</p>
                        </td>
                        {% endfor %}
                        {% endif %}
                    </tr>
                </tbody>
            </table>
            <div class="container-total__item2">
                <h2 class="container-total__title">Total</h2>
                <p class="container-total__total">${{ total_carrito }}</p>
                <a class="container-total__button" href="{% url 'cliente' %}">PAGAR PEDIDO</a>
            </div>
        </section>
    </main>
</body>
</html>