{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>metodo de pago</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registrarse.css' %}">
    <script src="{% static 'script/main.js' %}"></script>
</head>
<body>
    <header class="header">
        <p class="header__title">IONIX S.A</p>
    </header>
    <main>
        <h1>Método de pago</h1>
        <section class="container-pago">
            <div class="account">
                <h2>Banco Guayaquil</h2>
                <dl>
                    <dt>Numero de cuenta</dt>
                    <dd>0024369578</dd>
                    <dt>Tipo</dt>
                    <dd>AHORRO</dd>
                    <dt>Nombre</dt>
                    <dd>CARLOS JOSUE MACIAS CASTRO</dd>
                    <dt>Cédula</dt>
                    <dd>0946382849</dd>
                    <dt>Email</dt>
                    <dd>carlosmacias@gmail.com</dd>
                </dl>
            </div>
            <div class="account">
                <h2>Banco Guayaquil</h2>
                <dl>
                    <dt>Numero de cuenta</dt>
                    <dd>0024369578</dd>
                    <dt>Tipo</dt>
                    <dd>AHORRO</dd>
                    <dt>Nombre</dt>
                    <dd>CARLOS JOSUE MACIAS CASTRO</dd>
                    <dt>Cédula</dt>
                    <dd>0946382849</dd>
                    <dt>Email</dt>
                    <dd>carlosmacias@gmail.com</dd>
                </dl>
            </div>
            <div class="account">
                <h2>Banco Guayaquil</h2>
                <dl>
                    <dt>Numero de cuenta</dt>
                    <dd>0024369578</dd>
                    <dt>Tipo</dt>
                    <dd>AHORRO</dd>
                    <dt>Nombre</dt>
                    <dd>CARLOS JOSUE MACIAS CASTRO</dd>
                    <dt>Cédula</dt>
                    <dd>0946382849</dd>
                    <dt>Email</dt>
                    <dd>carlosmacias@gmail.com</dd>
                </dl>
            </div>
        </section>
        <a href="{% url 'inicio' %}">Volver al Inicio</a>
    </main>
</body>
</html>