{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>carrito</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/carrito.css' %}">
    <!-- <script src="{% static 'script/main.js' %}"></script> -->
</head>
<body>
    <header class="header">
        <nav class="nav">
            <p class="nav__title">IONIX S.A</p>
            <ul class="list">
                <li class="list__item"><a class="list__item__link" href="{%  url 'inicio'%}">INICIO</a></li>
                <li class="list__item"><a class="list__item__link" href="{%  url 'cuadernos'%}">CUADERNOS</a></li>
                <li class="list__item"><a class="list__item__link" href="{% url 'marcadores' %}">MARCADORES</a></li> 
                <li class="list__item"><a class="list__item__link" href="{%  url 'lapices_colores'%}">LAPICES DE COLORES</a></li>
            </ul>
            <a href="{% url 'carrito' %}"><img class="nav__shop" src="{% static 'images/shop.svg' %}" alt=""></a>        
        </nav>
    </header> 
    <main class="main">
        <h1 class="main__title">Tu Pedido</h1>
        <table class="table-product">
            <thead class="thead-product"> 
                <tr>
                    <th colspan="2">PRODUCTO</th>
                    <th>CANTIDAD</th>
                    <th>TOTAL</th>
                </tr>
            </thead>
            <tbody class="tbody-product">
                <tr class="tbody-product__row">
                    <td>
                        <div class="tbody-product__images">
                            <img src="{% static 'images/1.png' %}" alt="">
                        </div>
                    </td>
                    <td>
                        <a href="">Marcadores Normas</a>
                        <p>24.50</p>
                        <dl>
                            <dt>Talla:</dt>
                            <dd>XS</dd>
                        </dl>
                    </td>
                    <td>
                        <input type="number" min="1" max="100" value="1">
                        <button>Eliminar</button>
                    </td>
                    <td>
                        <p>$50.25</p>
                    </td>
                </tr>
                
                   
            </tbody>
        </table>
        <section>
            <h2>Total</h2>
            <p>67.40</p>
            <a href="{% url 'cliente' %}">PAGAR PEDIDO</a>
        </section>
    </main>
</body>
</html>