*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Navegacion */

.header{
    height: 66px;
    background-color: #5800FF;
    color: #E8F9F9;
    text-align: center;
    line-height: 66px;
}

.header__title{
    margin: 0;
    font-size: 2.2em;
}

/* main */

.main{
    display: grid;
    grid-template-columns: 1fr 550px;
}

.container-carrito-productos{
    width: 100%;
}

.container-form{
    width: 100%;
    padding: 2em;
}

.form__input{
    width: 100%;
    padding: 1.2em;
}


.form__label{
    display: block;
}

.container-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-button__submit{
    width: 200px;
    background-color: #5800FF;
    border: none;
    padding: 1.3em;
    color: #E8F9F9;
    cursor: pointer;
}

.container-button__back-carrito{
    text-decoration: none;
    color: #5800FF;
    cursor: pointer;
}

.table-product{
    width: 100%;
    padding: 2em 0;
}

.tbody-product__images img{
    width: 100%;
}

.row{
    height: 250px;
}

.row-celda__images{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.row-celda__images img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.row-celda--display{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-celda__cantidad{
    margin: 0 2em;
}

.container-total{
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

.thead-product{
    position: absolute;
    opacity: 0;
}