{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuadernos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'script/main.js' %}"></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <p class="nav__title">IONIX S.A</p>
            <ul class="list">
                <li class="list__item"><a class="list__item__link" href="{%  url 'inicio'%}">INICIO</a></li>
                <li class="list__item"><a class="list__item__link" href="{%  url 'cuadernos'%}">CUADERNOS</a></li>
                <li class="list__item"><a class="list__item__link" href="{% url 'marcadores' %}">MARCADORES</a></li> 
                <li class="list__item"><a class="list__item__link" href="{%  url 'lapices_colores'%}">LAPICES DE COLORES</a></li>
            </ul>
            <img class="nav__shop" src="{% static 'images/shop.svg' %}" alt="">
        </nav>
    </header>
    <main>
        <h1 class="main__title">Cuadernos</h1>
        <section class="container-product">
            {% for producto in productos_registrados %}
                {% static '' as baseUrl %}
            <div class="post">
                    <img class="post__images" src="{{baseUrl}}images/post/cuadernos/{{producto.imagen}}" alt="">
                    <h2 class="post__title">{{ producto.nombre }}</h2>
                    <p class="post__price"><strong class="post__price__word">Precio:</strong>{{ producto.precio }}</p>  
                    <button class="post__button">Agregar al carrito</button>
            </div>
            {% endfor %}  
            
        </section>
    </main>
</body>
</html>