{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lapices de colores</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <script src="{% static 'script/main.js' %}" defer></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <p class="nav__title">IONIX S.A</p>
            <ul class="list">
                <li class="list__item"><a class="list__item__link" href="{%  url 'inicio'%}">INICIO</a></li>
                <li class="list__item"><a class="list__item__link" href="{%  url 'cuadernos'%}">CUADERNOS</a></li>
                <li class="list__item"><a class="list__item__link" href="{% url 'marcadores' %}">MARCADORES</a></li> 
                <li class="list__item"><a class="list__item__link" href="{%  url 'lapices_colores'%}">LAPICES DE COLORES</a></li>
            </ul>
            <a href="{% url 'carrito' %}"><img class="nav__shop" src="{% static 'images/shop.svg' %}" alt=""></a>        
        </nav>
    </header> 
    <main>
        <div id="slider-container" class="slider-container">
            <div class="slider" id="slider">
              <!-- <div class="slider__element slider__element--lightcoral">1</div> -->
                <div class="slider__element">
                        <img src="{% static 'images/banner/banner-2.png' %}" alt="">
                </div>
                <div class="slider__element">
                        <img src="{% static 'images/banner/banner-1.jpg' %}" alt="" />
                </div>
                <div class="slider__element">
                    <img src="{% static 'images/banner/banner-3.jpg' %}" alt="" />
                </div>
            </div>
          </div>
          <div class="slider-buttons">
            <button id="button-left" class="button">&lt;</button>
            <button id="button-right" class="button">&gt;</button>
          </div>
        <section class="container-product">
            {% for producto in productos_registrados %}
                {% static '' as baseUrl %}
            <div class="post">
                <div class="post-images">
                    <img class="post-images__img" src="{{baseUrl}}{{producto.imagen}}" alt="">
                </div>
                <div class="post-container">
                    <div class="post-information">
                        <h2 class="post-information__title">{{ producto.nombre }}</h2>
                        <p class="post-information__price">Precio:<strong class="post-information__price__word">${{ producto.precio }}</strong></p>  
                        <a href="{% url 'Add' producto.id_producto %}" class="post-information__button">Agregar al carrito</a>
                    </div>
                </div> 
            </div>
            {% endfor %}  
            
        </section>
    </main>
</body>
</html>