{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'script/main.js' %}"></script>
</head>
<body>
    <header class="header">
        <nav class="nav">
            <p class="nav__title">IONIX S.A</p>
            <ul class="list">
                <li class="list__item">INICIO</li>
                <li class="list__item">CUADERNOS</li>
                <li class="list__item">MARCADORES</li>
                <li class="list__item">LAPICES DE COLORES</li>
            </ul>
            <img class="nav__shop" src="{% static 'images/shop.svg' %}" alt="">
        </nav>
    </header>
    <main>
        {% for producto in productos_registrados %}
        <div>
                <h1>{{ producto.nombre }}</h1>
                <p>{{ producto.descripcion }}</p>
        </div>
        {% endfor %}
        
    </main>
</body>
</html>